ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #439ae8;
}

.cnt {
    padding: 1%;    
}

#myInput {
    float: right; 
    width: 50px;
}

.botoes {
    float: right;
}

#servicos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#servicos td, #servicos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#servicos tr:nth-child(even){background-color: #f2f2f2;}

#servicos tr:hover {background-color: #f2def0;}

#servicos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ff009f;
    color: white;
}    

#servicos td#tdQuantidade {
    width: 5%;
}

#servicos td#tdDuracao {
    text-align: center;
    width: 5%;
}

#titulo {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: #25272b;
}

